name: Build executable

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up MinGW
      uses: egor-tensin/setup-mingw@v2
      with:
        version: latest

    - name: Compile resources
      run: windres resource.rc -O coff -o resource.o

    - name: Compile application
      run: gcc -static -Wall -Wextra -std=c99 -finput-charset=UTF-8 -fexec-charset=GBK -Os -s -o k-h-d.exe main.c resource.o -luser32 -lkernel32 -lcomctl32 -lgdi32 -lcrypt32 -lws2_32 -lwininet -mwindows

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: k-h-d-windows
        path: k-h-d.exe
